// ******************************
// Quick color refrences
// ******************************
// "color-primary": #ec1f94,
// "color-secondary": #ff9ed5,
// "color-tertiary": #ffe9f5,
// "color-quad": #dcb8cd,
// "color-white": #ffffff,
// "color-black": #000000,
// "color-grey": #ebebeb,
// ******************************
// ******************************

//***********************************
// 1. Include any default variable overrides here
//***********************************

//Nav - Header
// $offcanvas-padding-y:               5%;
// $offcanvas-padding-x:               10%;
// $offcanvas-horizontal-width:        280px;
// $navbar-light-toggler-border-color: transparent;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


//***********************************
// 2. Import Bootstrap
//***********************************
@import "../NODE_MODULES/bootstrap/scss/bootstrap";


//***********************************
// 3. Add additional custom code here
//***********************************

// ******
// Fonts
// ******

$primary-font: oswald;
$secondary-font: bodoni MT;
header{
    height: 80px;
}
h1{
    font-family: $primary-font;
    font-size: 80px ;
}

h2{
    font-family: $primary-font;
    font-size: 60px ;
}

h3{
    font-family: $primary-font;
    font-size: 50px ;
}

h4{
    font-family: $primary-font;
    font-size: 40px ;
}

h5{
    font-family: $primary-font;
    font-size: 30px ;
}

h6{
    font-family: $primary-font;
    font-size: 25px ;
}

p{
    font-family: $secondary-font;
    font-size: 25px ;
}

// ******
// Mixins
// ******
// syntax - @include flex-rowc;

@mixin flex-rowc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
@mixin flex-rowe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@mixin flex-rowa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
@mixin flex-rowb {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
@mixin flex-rowstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@mixin flex-rowend {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@mixin leftBorder {
    border-left: 4px solid map-get($colors, color-primary); 
    padding-left: 1%;
   
}
@mixin leftBorder-grey {
    border-left: 4px solid map-get($colors, color-grey);
  
    padding-left: 1%;
  }

  @mixin wh100 {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }


/*************/
/* Keyframes */
/*************/
@keyframes scalein {
    0% {
        transform:scale(2)
    }
    100% {
        transform: scale(1);
    }
}

// ******
// Maps
// ******

$colors:(
    "color-primary": #EC1F94,
    "color-secondary": #FF9ED5,
    "color-tertiary": #FFE9F5,
    "color-quad": #DCB8CD,
    "color-white":  #FFFFFF,
    "color-black": #000000,
    "color-grey":#EBEBEB,
);

// ******
//Template Page Styling
// ******
 
    //Navbar
    .navbar-brand {
        width: 180px;
        height: auto;
        margin-left: 2%;
    }
    .navIcon{
        margin-right: 2%;
        max-width: 20px;
        max-height: 20px;
        width: 100%;
        height: 100%;
    }
    .navbar-nav {
        margin-left: auto;
        font-family: $primary-font;
    }
    #navexpand{
        margin-left: auto;
    }
    #pageselect{
        color: map-get($colors, color-primary);
    }

    //Off Canvas social media icons
    .socialnav{
        @include flex-rowc;
    }
    .socialIcon{
        max-width: 50px;
        max-height: 50px;
        width: 100%;
        height: 100%;  
    }
    .navSpace{
        height: 600px;
    }

// ******
//Imports
// *****

    // Import locations
    @import "index";



