@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --navBGcolor:#595457;
  --primary: #D93991;
  --secondary: #5A5457;
  --tertiary: #FFEBFC;
  --white: #ffffff;
  --black: #000;
  
}
